.title {
    padding-top: 5rem;
    width: 100%;
    vertical-align: middle;
    height: 200px;
    background: #ecf3ff;
}

thead {
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    letter-spacing: .64px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 22px;
    text-align: center;
}

.info {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: inherit;
    padding-left: 30px;
    display: inline-block;
}

tr.item {
    border-bottom: 1px solid #ebebeb;
}

.price {
    text-align: center;
    vertical-align: middle;
    color: inherit;
}

.quantity-controls {
    margin: 53px 0px 53px 90px;
}

.delete-btn {
    position: relative;
    box-shadow: 0px 0px 30px 10px rgba(150, 176, 203, 0.31);
    border: solid 0px;
    border-radius: 50%;
    padding: 6px 16px;
    font-size: 1.5rem;
    background-color: white;
}

.quantity-btn {
    padding: 1rem 1rem;
    border: 0px;
}

.quantity {
    border: none;
    color: #000000;
    font-weight: 700;
    height: 100%;
    font-size: 14px;
    line-height: 45px;
    width: 42%;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    text-align: center;
    z-index: -1;
}

.action-btn {
    padding: 1rem 1rem;
    border: 0px;
}

#paymentImage {
    text-align: center;
    margin-top: 20px;
}

    #paymentImage img {
        max-width: 300px; /* Tùy chỉnh kích thước hình ảnh */
        height: auto;
    }
