html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-header {
    outline: none;
    border: none;
    background-color:white;
}

.bi-icon-header:hover, .nav-header:hover,.nav-footer {
    color: #f36523 !important;
    transition: 0.3s ease-in-out !important;
}

.shadow-top {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

/*Account Header*/
/* Custom Modal Styles */
.custom-modal {
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

    .modal-header h5 {
        margin: 0;
    }

.close {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
}

.close:focus{
    outline:none;
    border: none;
}

.modal-body {
    padding: 20px 0;
}

/* Khi modal hiển thị */
.custom-modal.show {
    display: flex;
}


/*End*/


/*//Chat box*/
.chat-box-trigger {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f36523; /* Màu nền thay đổi */
    border: none; /* Loại bỏ viền */
    color: white; /* Màu chữ trắng */
    cursor: pointer;
    box-shadow: none; /* Loại bỏ hiệu ứng bóng khi nhấn */
    width: 400px;
}

    .chat-btn:hover {
        background-color: #ff7e42; /* Màu nền khi hover */
    }

.chat-box {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 9998;
}

.chat-box-header {
    padding: 10px;
    background-color: #f36523;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

    .chat-box-header button {
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

.chat-box-body {
    padding: 10px;
    height: 500px;
    overflow-y: auto;
}

.question {
    padding: 8px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 8px;
    margin: 5px 0;
    background-color: #4c4a4a;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.chat-box-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .chat-box-footer input {
        width: 80%;
        border-radius: 20px;
    }

    .chat-box-footer button {
        border-radius: 20px;
        background-color: #007bff;
        color: white;
    }

/* Hiển thị khi nhấn vào */
.chat-box.show {
    display: flex;
}


/*---------------------- CHI TIẾT SẢN PHẨM ------------------------*/

.product-detail {
    margin-top: 20px;
}

.thumbnail-gallery img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

    .thumbnail-gallery img:hover {
        border-color: #007bff;
    }

.rating .stars {
    color: gold;
    font-size: 1.2em;
}

.review {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review {
    background-color: #f8f9fa;
}

.review-rating .fa-star {
    color: #ffc107; /* Màu vàng cho sao */
}

.reviews-container::-webkit-scrollbar, .technical-container::-webkit-scrollbar {
    width: 4px;
}

.reviews-container::-webkit-scrollbar-thumb, .technical-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.reviews-container::-webkit-scrollbar-thumb:hover, .technical-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.selected-color {
    border: 1px solid #DC143C; /* Viền màu xanh khi chọn */
    padding: 5px 10px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 4px;
    /*background-color: #EEEEEE;*/ /* Nền sáng khi chọn */
    /*font-weight: 600;*/
}

.color-option {
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa hình ảnh và nội dung */
}

.color-name {
    font-size: 0.8rem; /* Kích thước chữ */
    color: #333; /* Màu chữ */
    white-space: nowrap; /* Không xuống dòng */
}


/*=====================================*/