

:root {
    --main-color: #f36523;
}


.tieu-de-box {
    font-weight: 750 !important;
    cursor: pointer;
}

.tieu-de-box:hover
{
    transition: 0.4s ease-in-out;
    color: var(--main-color) !important;
}